:root {
  --dark: #011627;
  --light: #D8D8F6;
}

body, html {
  background-color: var(--dark);
  margin: 0;
  padding: 0;
  overscroll-behavior: contain;
}

button {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;

  background-color: var(--dark);
  color: var(--light);
  border: 0.1em solid var(--light);
  border-radius: 0.25em;
  font-size: 1.3em;
  margin: 0.2em 0.2em 0 0;

  cursor: pointer;

  min-width: 2em;
  min-height: 2em;
  padding: 0;
}

button:hover {
  background-color: var(--light);
  color: var(--dark);
}

ul {
  padding: 0;
  display: grid;
}

[hidden]{
  display:none;
}

.toolbar {
  top: 2%;
  left: 1%;
  position: absolute;
  display: grid;
}

.buttons {
  display: flex;
}

#canvas {
  position: absolute;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  image-rendering: pixelated;
}
