:root {
  --dark: #282828;
  --dark_trans: #28282860;
  --light: #CAE9FF;
  --light_trans: #CAE9FF60;
}

* {
  overscroll-behavior: contain;
  padding: 0;
  margin: 0;
  outline: 0;
}

#buttons button, #maplist button {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;

  color: var(--dark);
  border: 2px solid var(--light);
  border-radius: 0 6px 6px 6px;
  font-size: 24px;

  cursor: pointer;

  min-width: 48px;
  min-height: 48px;
  padding: 0.2em;
  margin: 1px;
  
  background-image: linear-gradient(to bottom right, var(--light_trans), #81ADC8);
}

#maplist button {
  min-height: 36px;
}

#buttons span button {
  min-height: 24px;
  height: 24px;
  padding: 2px;
}

#buttons button:hover, #maplist button:hover {
  background-image: linear-gradient(to bottom right, var(--light), #559CAD);
}

#map_insert_buttons button {
  background-image: url("res/insert.png");
  width: 32px;
  height: 32px;
  background-color: transparent;
  border: none;
  border-radius: 0 3px 3px 3px;
  position: absolute;
}

#map_insert_buttons button:hover {
  background-image: url("res/insert.png"), linear-gradient(to bottom right, var(--light_trans), #81ADC8);
  backdrop-filter: blur(32px);
}

ul {
  margin: 2px 0 0 0;
  display: grid;
}

ul p {
  color: var(--light);
  border-radius: 0 6px 6px 6px;
  margin: 2px 2px 0 0;
  padding: 2px 0;
  text-align: center;
}

ul p:before {
  content: "<";
}

ul p:after {
  content: ">";
}

p[hidden], button[hidden]{
  display:none;
}

html, body {
  background-color: var(--dark);
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#map_container {
  width: 100%;
  height: 100%;
}

#map_zoomable {
  transform-origin: 0px 0px;
  transform: scale(1) translate(0px, 0px);
  transition: transform 100ms linear;
}

#buttons {
  display: flex;
  z-index: 3;
  flex-direction: row;
}

#toolbar:has(#maplist[hidden]) #buttons {
  flex-direction: column;
}

#toolbar {
  top: 0;
  left: 0;
  position: absolute;
  display: flex;
  margin: 6px 6px;
  z-index: 2;
  max-height: 98vh;
  flex-direction: column;
  background: var(--dark_trans);
  padding: 4px;
  border-radius: 0px 8px 8px 8px;
  backdrop-filter: blur(24px);
}

#maplist {
  overflow: auto;
  overflow-y: auto;
  overflow-x: hidden;
  transition-duration: 0.4s;
  height: calc(100vh - 48px - 12px);
  margin: 4px 0 0 0;
  border-radius: 0 6px 6px 6px;
}

#maplist[hidden] {
  height: 0px;
  width: 0px; /* for when buttons width is less then maplist buttons width */
  margin: 0;
}

#area_info_label {
  color: var(--light);
  border: 2px solid var(--dark_trans);
  padding: 6px;
  border-radius: 0px 8px 8px 8px;
  position: absolute;
  pointer-events: none;
  white-space: pre;
  backdrop-filter: blur(32px);
  background-image: linear-gradient(to bottom right, var(--dark_trans), #81ADC860);
}

#map_insert_buttons {
  height: 0px;
  width: 0px;
}

#tile {
  width: 32px;
  height: 32px;
  border: 2px dashed var(--light_trans);
  position: absolute;
  transition-duration: 0.1s;
  pointer-events: none;
}
